/*colors and fonts*/

body  {
  background:  #F0F8FF;
  colors: rgb(230, 230, 230);
  font-family: Times New Roman;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 0px;
  margin-right: 0px;



}






h1 {
  color: #292421;
  font-size: 35px;
  font-family: Roboto Serif;
  font-weight: 900;
  width: 440px;
  margin:40px auto;
  width: 400px
}

h2 {
  color: #00308F;
  font-size: 20px;
  font-family: Roboto;
  font-weight:300;


}

a {
  font-family: Times New Roman;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;


}
a:hover {
  color: magenta;



}

.img-circle {
  border border-radius: 50%;


}
.shadowed{

box-shadow: 2px 2px 3px black;
}

div{
  background: white
  margin: 10px;
  border-top: 1px solid beige;
  border-right: 1px solid beige;
  border-left: 1px solid beige;
  border-bottom: 1px solid beige;
  border-radius: 5px;
  padding: 60px;
  margin: 20px;
  margin-right: 2px;
  margin-left: 2px
  box-shadow: 0px, 10px, 30px, rgb(0, 0, 0, 1);
  text-align: center;


}

/*custom designs with class */

.container {


  }

.card-white {
background-color: white;
box-shadow:0px 10px 30px rgba(0,0,0,0.1);
border border-radius: 4px;


}

.img-circle {

  border-radius: 50%;

}

.btn-blue {

  background-color: rgb(124,185,232);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue: hover {

background-color: red;

}

.list-inline {

list-style: none;
padding-left: 0px;

}

.list-inline li{

display: inline;
padding: 10px;
}

.list-inline i {

  font-size: 50px;
  color: rgb(230, 230, 230)
}

.list-inline i:hover {

  color: rgb(230, 230, 230)
}

#introduction p{
margin-bottom: 40px;
margin-top: 20px;
}

@media (max-width: 760px){

  .container {
    width: 600px;

  }
}

@media (max-width: 500px){

  .container {
    width: 400px;
}
